  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header navbar-right">
        <a href="#" class="navbar-brand"><img src="..\assets\Yetzia-Gazur.png" id="mainp" alt="עמוד ראשי" width="130">                                   </a>
      </div>
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" (click)="onSelect('new')">הוסף דיון חדש</a></li>
          <li><a href="#" (click)="onSelect('recipe')">הדיונים שלי</a></li>
          <li><a href="#" (click)="onSelect('home')">דף בית</a></li>
        </ul>
      </div>
    </div>
  </nav>
