<div *ngIf="!discussionNow._id; else discussionPanel">loading</div>
<ng-template #discussionPanel>
    <div class=" demo" id="the header pannel">
        <div id="large-header" class="large-header">
            <h1 class="main-title">{{discussionNow.discussionName}}</h1>
            <h1 class="main-title3">{{discussionNow.subject[clockPointer].subjectName}}</h1>
            <h1 class="main-title2">{{secondsToMinutes(presentedTime)}}</h1>
            <div class="centering">
                <!--<img src="./assets/play.png " width="120px" (click)="play()">
                <img src="./assets/skip.png" width="120px" (click)="skip(0)">
                <img src="./assets/pause.png" width="120px" (click)="pause()">-->

                <table>
                    <tr>
                        <td>
                            <div id="main-content">
                                <div>
                                    <input (change)="toggleTimer($event)" type="checkbox" id="checkbox" />
                                    <!-- Only to prevent the need to use JS to toggle the button change -->
                                    <label for="checkbox" id="action-button">
                                  <div></div>
    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div id="Skiper" (click)="skip(0)"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <h1 class="main-title4" id="speaker">דובר:{{discussionNow.subject[clockPointer].subjectSpeaker}}</h1>
             <h1 class="main-title4" id="totalTime">{{totalTime}}</h1>
        </div>
    </div>



    <div class="container2">
        <!--<div class="glyphicon glyphicon-chevron-left greenytitle2"></div>
        <div class="greenytitle" id="current subject">{{discussionNow.subject[clockPointer].subjectName}}</div>
        <br/><br/><br/><br/><br/>-->
        <img *ngIf="isCollapsed; else closepanel" src="./assets/openEdit.png " (click)="isCollapsed = !isCollapsed">
        <ng-template #closepanel>
            <img src="./assets/closeEdit.png" (click)="isCollapsed = !isCollapsed">
        </ng-template>
    </div>
    <div [collapse]="isCollapsed" class="card card-block card-header">
        <table style=" font-size: 24px;">
            <tr *ngFor="let subject of subjecstArr; let i = index">
                <td style="padding-left: 20px;">{{i+1}}. {{discussionNow.subject[i].subjectName}} </td>
                <td> <input (blur)=update(i,$event) id="TimeInput" style="width:50px" type="text" value="{{discussionNow.subject[i].subjectTime}}"></td>
                <td style="padding-right: 20px;"> דובר: {{discussionNow.subject[i].subjectSpeaker}} </td>
                <td style="padding-right: 20px;">
                    <div class="glyphicon glyphicon-chevron-up" (click)="up(i)"></div>
                </td>
                <td style="padding-right: 4px;">
                    <div class="glyphicon glyphicon-chevron-down" (click)="down(i)"></div>
                </td>
            </tr>
        </table>
    </div>

</ng-template>