<table class="table-fill">
  <thead>
    <tr>

      <th class="text-right">שם הדיון</th>
      <th class="text-center"></th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <tr *ngFor="let discussion of discussions; let i = index">
      <td class="text-right">{{discussion.discussionName}}</td>
      <td class="text-left">
        <a (click)="runDiscussion(i)">
          <span class="glyphicon glyphicon-play"></span>
        </a> &nbsp; 
        <a (click)="removeDiscussion(i)">
         <span class="glyphicon glyphicon-remove"></span>
        </a> &nbsp; 
        <a (click)="editDiscussion(i)">
         <span class="glyphicon glyphicon-pencil"></span>
        </a>
<a href="#" (click)="onSelect('run')">דף בית</a>
      </td>
    </tr>


  </tbody>
</table>