<div class="warpper"> 
<div style="padding-right:2%"><h1>הדיונים שלי</h1>
<table class="table-fill">
  <thead>
    <tr>

      <th class="text-right">שם הדיון</th>
      <th class="text-center"></th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <tr *ngFor="let discussion of discussions; let i = index">
      <td class="text-right">{{discussion.discussionName}}</td>
      <td class="text-left">
        <a (click)="runDiscussion(i)">
          <span class="glyphicon glyphicon-play"></span>
        </a> &nbsp;
        <a (click)="staticModal.show()">
         <span class="glyphicon glyphicon-remove"></span>
        </a> &nbsp;
        <a (click)="editDiscussion(i)">
         <span class="glyphicon glyphicon-pencil"></span>
        </a>
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-right">מחיקת דיון</h4>
        <button type="button" class="close pull-left" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
האם אתה בטוח שברצונך למחוק את הדיון לצמיתות?
<br/>
<button type="button" class="btn btn-primary pull-left" (click)="removeDiscussion(i)">מחק</button>
<button type="button" class="btn btn-default pull-left" (click)="staticModal.hide()">בטל</button>
      </div>
    </div>
  </div>
</div>

      </td>
    </tr>


  </tbody>
</table>


</div>
</div>