<app-header (featureSelected)="onNavigate($event)"></app-header>
<!--<div class="col-sm-2" id="backgroundside"></div>
<div class="col-sm-9 text-right">
  <h1>הדיונים שלי</h1>
  <app-run *ngIf="loadedFeature === 'home'"> </app-run>
  <app-mydiscussion *ngIf="loadedFeature === 'myDiscussion'"> </app-mydiscussion>
  <app-newdiscussion *ngIf="loadedFeature === 'newDiscussion'"> </app-newdiscussion>

  
 
</div>
<div class="col-sm-1" id="backgroundside"></div>-->
<div class="container">
    <app-home *ngIf="loadedFeature === 'home'"> </app-home>
    <app-mydiscussion *ngIf="loadedFeature === 'myDiscussion'" (selectedDiscussion)="onRun($event)"> </app-mydiscussion>
    <app-newdiscussion *ngIf="loadedFeature === 'newDiscussion'"> </app-newdiscussion>
    <app-run *ngIf="loadedFeature === 'run'"[playingDiscussion]="playingDiscussion"> </app-run>
</div>