<div style="padding-right:2%">
    <h1>יצירת דיון חדש</h1>
</div>
<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <div class="col-xs-6 pull-right  ">

        <div class="form-group ">

            <label for="disscussionName" style="font-size: 150%">שם הדיון</label>
            <input type="text" class="form-control" formControlName="discussionName" tabindex="1">
            <small *ngIf="!myForm.controls.discussionName.valid" class="text-danger">
     
            </small>
            <ul class="pager pull-right">
                <li><a (click)="addLink()">הוסף נושא+</a></li>
            </ul>
            <br/><br/><br/><br/>
            <div formArrayName="subjects">
                <div *ngFor="let subject of myForm.controls.subjects.controls; let i=index">



                    <div [formGroupName]="i" >
                        <div class="form-group col-xs-4">
                            <label>אורך בדקות</label>
                            <span class="glyphicon glyphicon-remove " *ngIf="myForm.controls.subjects.controls.length > 1" (click)="removesubjects(i)"></span>
                            <input type="text" class="form-control" formControlName="subjectTime" tabindex="3">
                            <small [hidden]="myForm.controls.subjects.controls[i].controls.subjectTime.valid" class="text-danger">
                                        Street is required
                </small>
                        </div>
                        <div class="form-group col-xs-8">
                            <label>שם הנושא</label>
                            <input type="text" class="form-control" formControlName="subjectName" tabindex="2">
                        </div>
                    </div>
                </div>

            </div>
        </div>

  <div *ngIf="editMode; else newDiscussion" > <button  type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Update</button> </div>
  <ng-template #newDiscussion> <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button> </ng-template>
  
    </div>
</form>