.column { 
  -webkit-flex-direction: column-reverse; 
  flex-direction: column-reverse; 
  float: right;



}

.form-group {
     margin-bottom: 5px; 
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-top:12px;
    margin-right:18px;
}
.glyphicon-remove:before {
    content: "\E014";
    padding-right: 10px;

}