.column { 
  -webkit-flex-direction: column-reverse; 
  flex-direction: column-reverse; 
  float: right;



}

.form-group {
     margin-bottom: 5px; 
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-right:18px;
}
.glyphicon-remove:before {

    content: "\E014";
    margin-left: 80px

}

.pager{
   margin: 0px;
   margin-top: -8px;
}

.aligner{
   margin-bottom:-15px;  
}
#timeinput{
    width: 80px
}

#speakerinput{
    width: 140px
}